<h1> <%=@page_owner.username %>
</h1>

<p class="userProfile">
  <%=@page_owner.first_name %> <%=@page_owner.last_name %> </br>
  <%=@page_owner.age %> </br>
  <%=@page_owner.height %> </br>
  <%=@page_owner.bio %> </br>
</p>

<h3>Add a comment for <%= @page_owner.username %></h3>
<div class="commentForm">
  <form action="/comment/<%=@page_owner.id%>/new" method = "POST">
  <input type="text" name="comment[content]">
  <input type="submit">
  </form> </br>
</div>

<h3> <%=@page_owner.username %>'s Comments </h3>
<div class="userComments">
  <% Comment.all.each do |x| %>
    <% if @page_owner.id == x.receiver_id %>
    <%= x.sender_id%> said:
    <%= x.content %></br>
    <div class="updateLinks">
      <% if x.sender_id == current_user.id %>
       <a href="/comment/<%=x.id%>/edit">Edit/Delete</a>
      </br>
      <%end %>
    </div></br>
  <% end %>
  <% end %>
</div>
