<h1> <%=@page_owner.username %>
</h1>

<p class="userProfile">
  <%=@page_owner.first_name %> <%=@page_owner.last_name %> </br>
  <%=@page_owner.age %> </br>
  <%=@page_owner.height %> </br>
  <%=@page_owner.bio %> </br>
</p>
