<div class= "container">
<% if current_user %>
<br><Br>
  <% @user_id = session[:user_id] %>
  <% friendee_arr = [] %>
  <% friendship_arr = [] %>
  <% matches_arr = [] %>
  <% @friendships.each do |friend| %>
    <% if friend.friendee_id == @user_id %>
      <% friendee_arr << friend.id %>
    <% end %>
  <% end %>
  <% @friendships.each do |friend| %>
    <% if friend.friend_id == @user_id %>
      <% friendship_arr << friend.id %>
    <% end %>
  <% end %>
<% friendee_arr.each do |num| %>
<%  x = User.find_by(id: num) %>
<%  x.username %> <br>
<% end %>

<h2>your ballfriends </h2>
<% friendship_arr %>
<% friendship_arr.each do |match| %>
  <% friendee_arr.each do |matchee| %>
    <% if match == matchee %>
      <% matches_arr << match %>
    <% end %>
  <% end %>
<% end %>
<% matches_arr %>
<% else %>
  <%= p "Sign Up to meet Ballerz!" %>
<% end %>
<% matches_arr.each do |baller| %>
  <% @person = User.all.find_by(id: baller) %>
  <a href="/user/<%= baller %>"><%=@person.username%></a>
<% end %>


  <h2> potential ballfriends </h2>
  <div class="random_users">
    <% @users.map do |user|  %>
      <% if Friendship.find_by(friendee_id: current_user.id, friend_id: user.id ) == nil  %>
        <div class="add_user_link">
        <a href="/user/<%= user.id %>"> <%= user.username %> </a> </br>
        <form id="add_user_form" method="post" action="/addfriend/<%= user.id %>"> <input type="hidden" name="_method" value="post"> <div class="submit"><input type="submit" value="Friend"></div> </br></br></form>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
