<div class= "container">
<% if current_user %>
<br><Br>
  <% @user_id = session[:user_id] %>
  <% friendee_arr = [] %>
  <% friendship_arr = [] %>
  <% matches_arr = [] %>
  <% Friendship.all.each do |friendship| %>
    <% if friendship.friendee.id == current_user.id %>
      <% if friendship.friend.id == @page_owner %>
        <% matches_arr << User.find(friendship) %>
      <% else %>
        <% friendee_arr << User.all.find(friendship.friend.id) %>
      <% end %>
    <% end %>
  <% end %>




<h3><font color= #B22A29> Your Friends:</font></h3>
  <% friendee_arr.each do |friend| %>
    <% fry = Friendship.find_by(friendee_id: friend.id, friend_id: current_user.id) %>
    <% if fry %>
      <% username = User.find(fry.friendee_id) %>
      <a href="/user/<%=fry.friendee_id%>"> <%=username.username%> </a>
   <br>
    <% end %>
  <% end %>


<h3> <font color= #B22A29>Potential Friends:</h3></font>
<% friendee_arr.each do |potential_friend| %>
   <a href="/user/<%=potential_friend.id%>"> <%=potential_friend.username%> </a> <br>
<%end %>



<div class="random_users">
  <h3> <font color= #B22A29> Find more friends </font>
  <% @users.map do |user|  %>
    <% if Friendship.find_by(friendee_id: current_user.id, friend_id: user.id ) == nil  %>
      <div class="add_user_link">
        <a href="/user/<%= user.id %>"> <%= user.username %> </a> </br>
        <form id="add_user_form" method="post" action="/addfriend/<%= user.id %>"> <input type="hidden" name="_method" value="post"> <div class="submit"><input type="submit" value="Friend"></div>
        </br></br></form>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
</div>
